<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petrovdevelopment.dice">

    <!-- Used for the shaking to roll dice option -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Tell the system this app requires OpenGL ES 3.0. -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <application
        android:name="com.petrovdevelopment.dice.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".activities.MyActivity"
            android:label="@string/title_activity_my"></activity>

        <activity
            android:name=".activities.OpenGLES30Activity"
            android:label="@string/title_activity_my"></activity>

        <activity
            android:name=".activities.CouchbaseLiteActivity"
            android:label="@string/title_activity_my"></activity>

        <activity
            android:name=".activities.CollectionsActivity"
            android:label="@string/dice_collections"></activity>

    </application>

</manifest>
